@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --font-primary: "Kumbh Sans", sans-serif;
  --font-size: 16px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /*Colores*/
  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);

  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-primary);
}
img {
  max-width: 100%;
  height: auto;
}

/*Inicio Estilos para Header*/
.header {
  height: 4.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  padding: 1.5rem;
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/*Final Estilos para Header*/

/***********************************/

/*Inicio para Estilos de Gallery*/
.gallery {
  position: relative;
  /* border:1px solid red; */
}

.gallery__next,
.gallery__prev {
  /* border: 1px solid yellow; */
  border-radius: 100%;
  padding: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: white;
  cursor: pointer;
}
.gallery__prev {
  position: absolute;
  top: 50%;
  left: 1rem;
}
.gallery__next {
  position: absolute;
  top: 50%;
  right: 0.5rem;
}
/*Final para Estilos de Gallery*/

/***********************************/

/*Inicio para Estilos de Producto*/
.product {
  padding: 1.5rem;
}
.product__subtitle {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--primary-orange);
}
.product__title {
  margin-top: 0.5rem;
  font-size: 2.1rem;
  font-weight: var(--font-weight-bold);
  color: var(--neutral-very-dark-blue);
}
.product__description {
  margin-top: 1rem;
  line-height: 1.5;
  color: var(--neutral-dark-grayish-blue);
}
.product__price {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product__amount {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}
.product__discount {
  background-color: var(--primary-pale-orange);
  padding: 0.25rem 0.7rem;
  border-radius: 0.4rem;
  color: var(--primary-orange);
  font-weight: var(--font-weight-bold);
}
.product__price_with_discount {
  font-size: 1.3rem;
  color: var(--neutral-grayish-blue);
  font-weight: var(--font-weight-bold);
  text-decoration: line-through;
}
.product__qty {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  background-color: var(--neutral-light-grayish-blue);
  border-radius: 0.5rem;
}
.product__qty button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--neutral-light-grayish-blue);
  cursor: pointer;
}
.product__qty span {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  background-color: var(--neutral-light-grayish-blue);
}

.product__add_to_cart {
  margin-top: 1rem;
  width: 100%;
  border: none;
  padding: 1em 1rem;
  border-radius: 0.5rem;
  color: var(--neutral-white);
  font-size: 1.1rem;
  font-weight: var(--font-weight-bold);
  background-color: var(--primary-orange);
  cursor: pointer;

  box-shadow: 0px 10px 15px rgba(255, 166, 0, 0.342);
}
.product__add_to_cart svg path {
  fill: var(--neutral-white);
}
/*Final para Estilos de Producto*/
