@mixin default-border{
    border: 2px solid #bbbb;
}
@mixin custom-border($width, $color, $is-solid:true) {
    // border: $width solid $color;
    @if $is-solid{
        border: $width solid $color;
    } @else{
        border: $width dashed $color;
    }
}