:root{
    --mi-variable: black;
}
@import 'variables';
@import 'card';
@import 'mixins';


body{
    background-color: $primary-color;
    // background-color: var(--mi-variable);
    // color: white;
    text-align: center;
}



